@tailwind base;
@tailwind components;
@tailwind utilities;


.loading-indicator:before {
  content: '';
  background: #00000080;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: ' ';
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 10010;
  color:white;
  text-align:center;
  font-weight:bold;
  font-size:1.2rem;        
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #0474bf; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

nav{
    z-index: 10001 !important;
}

.gradientBg{
    background: linear-gradient(99deg, #EE9AE5 0%, #5961F9 100%);
    ;
}

p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}
.slick-prev::before {
  content: "\003C" !important;
}

.slick-next::before {
  content: "\003E" !important;
}

.slick-prev::before,
  .slick-next::before {
  color: #000 !important;
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900 !important;
  line-height: 0.75 !important;
}
